.note-brief {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    height: 25%;
    border-radius: 15px;
    background-color: var(--border);
    color: var(--main);
    text-wrap: wrap;
    padding: 7px;
    text-align: center;
    transition: all 0.3s;
    margin: 12px;
    cursor: pointer;
}



.text-brief {
    top: 5px;
    font-size: 0.7em;
    margin-top: 0px;
}



.title-brief {
    font-size: large;
}

.note-brief:hover {
    transform: scale(1.05) rotate(1deg);
    filter: brightness(1.2);
}

.edit-input {
    border: none;
    outline: none;
    background-color: transparent;
    margin: 0;
    padding: 10px;
    color: #e9e9e9;
    text-shadow: 1px 1px 1px #000;
    font-size: 1.1em;
    width: 89%;
}

.edit-input::placeholder {
    color: var(--main);
}

.delete-note-icon {
    top: 7px;
    right: 7px;
    position: absolute;
    font-size: 1.2em;
    cursor: pointer;
    transition: all 0.3s;
}
.delete-note-icon:hover, .pin-icon:hover, .pinned-icon:hover {
    transform: scale(1.1);
}

.pinned-icon:hover {
    transform: translateY(-5px);
}

.pin-icon {
    top: 30px;
    right: 7px;
    position: absolute;
    font-size: 1.2em;
    cursor: pointer;
    transition: all 0.3s;
}

.pinned-icon {
    top: -20px;
    right: 25%;
    position: absolute;
    font-size: 1.8em;
    cursor: pointer;
    transition: all 0.3s;
}

.tag-brief {
    display: inline;
    top: -13px;
    left: 7px;
    position: absolute;
    font-size: 0.8em;
    cursor: pointer;
    transition: all 0.3
}